<button class="c-hamburger c-hamburger--htx">
  <span>toggle menu</span>
</button>


<div class="holder">
  <div class="card bottom"></div>
  <div class="card fourth"></div>
  <div class="card third"></div>
  <div class="card second"></div>
  <div class="card first"></div>
  <div class="card base"></div>
</div>
