<button class="c-hamburger c-hamburger--htx">
  <span>toggle menu</span>
</button>
<button class="down">
  NEXT
</button>
<button class="up">
  PREV
</button>

<div class="slider">

  <div class="holder">

    <div class="card bottom" style="z-index: 400"></div>
    <div class="card fourth"  style="z-index: 410"></div>
    <div class="card third"  style="z-index: 420"></div>
    <div class="card second"  style="z-index: 430"></div>
    <div class="card first"  style="z-index: 440"></div>
    <div class="card base"  style="z-index: 450"></div>
    <div class="card pre"  style="z-index: 460"></div>
    <div class="card pre"  style="z-index: 470"></div>
    <div class="card pre"  style="z-index: 480"></div>
    <div class="card pre"  style="z-index: 490"></div>
    <div class="card pre"  style="z-index: 500"></div>
    <div class="card pre"  style="z-index: 510"></div>
    <div class="card pre"  style="z-index: 520"></div>
    <div class="card pre"  style="z-index: 530"></div>
    <div class="card pre"  style="z-index: 540"></div>
    <div class="card pre"  style="z-index: 550"></div>
    <div class="card pre"  style="z-index: 560"></div>
    <div class="card pre"  style="z-index: 570"></div>
    <div class="card pre"  style="z-index: 580"></div>
    <div class="card pre"  style="z-index: 590"></div>


  </div>
</div>
