html, body {
  background-color: #0B486B;
  position: relative;

}

.down {
  position: fixed;
  top: 120px;
  left: 0px;
  background-color: white;
  color: black;
  border: 0;
  width: 100px;
  height: 100px;
  z-index: 9000;
}

.up {
  position: fixed;
  top: 220px;
  left: 0px;
  background-color: white;
  color: black;
  border: 0;
  width: 100px;
  height: 100px;
  z-index: 9000;
}


.slider {
  height: 5000px;
}

.holder {
  perspective: 600px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #0B486B;

  .card {
    background-color: #F9F2E7;
    width: 80%;
    min-height: 600px;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    top: 25%;
    -webkit-transform: rotateX( -5deg ) translateX(-50%);
    -moz-transform: rotateX( -5deg ) translateX(-50%);
    -o-transform: rotateX( -5deg ) translateX(-50%);
    transform: rotateX( -5deg ) translateX(-50%);
    box-shadow: 0px 0px 10px black;
    z-index: 1000;
    transition: all 600ms ease-in-out;

    &.pre {
      -webkit-transform: rotateX( -17deg ) translateX(-50%) translateY(30%);
      -moz-transform: rotateX( -17deg ) translateX(-50%) translateY(30%);
      -o-transform: rotateX( -17deg ) translateX(-50%) translateY(30%);
      transform: rotateX( -17deg ) translateX(-50%) translateY(30%);
      z-index: 450;
      opacity: 0;
    }


    &.base {
      -webkit-transform: rotateX( -12.5deg ) translateX(-50%) translateY(20%);
      -moz-transform: rotateX( -12.5deg ) translateX(-50%) translateY(20%);
      -o-transform: rotateX( -12.5deg ) translateX(-50%) translateY(20%);
      transform: rotateX( -12.5deg ) translateX(-50%) translateY(20%);
      z-index: 450;
      opacity: .8;
    }

    &.first {
      -webkit-transform: rotateX( -10deg ) translateX(-50%) translateY(10%) scale(0.95);
      -moz-transform: rotateX( -10deg ) translateX(-50%) translateY(10%)  scale(0.95);
      -o-transform: rotateX( -10deg ) translateX(-50%) translateY(10%) scale(0.95);
      transform: rotateX( -10deg ) translateX(-50%) translateY(10%) scale(0.95);
      z-index: 440;
      opacity: .9;

    }

    &.second {
      -webkit-transform: rotateX( -7.5deg ) translateX(-50%) translateY(0%) scale(0.9);
      -moz-transform: rotateX( -7.5deg ) translateX(-50%) translateY(0%) scale(0.9);
      -o-transform: rotateX( -7.5deg ) translateX(-50%) translateY(0%) scale(0.9);
      transform: rotateX( -7.5deg ) translateX(-50%) translateY(0%) scale(0.9);
      z-index: 430;

    }

    &.third {
      -webkit-transform: rotateX( -5deg ) translateX(-50%) translateY(-10%) scale(0.85);
      -moz-transform: rotateX( -5deg ) translateX(-50%) translateY(-10%) scale(0.85);
      -o-transform: rotateX( -5deg ) translateX(-50%) translateY(-10%) scale(0.85);
      transform: rotateX( -5deg ) translateX(-50%) translateY(-10%) scale(0.85);
      z-index: 420;

    }

    &.fourth {
      -webkit-transform: rotateX( -2.5deg ) translateX(-50%) translateY(-20%) scale(0.8);
      -moz-transform: rotateX( -2.5deg ) translateX(-50%) translateY(-20%) scale(0.8);
      -o-transform: rotateX( -2.5deg ) translateX(-50%) translateY(-20%) scale(0.8);
      transform: rotateX( -2.5deg ) translateX(-50%) translateY(-20%) scale(0.8);
      z-index: 410;
      opacity: .9;
    }

    &.bottom {
      -webkit-transform: rotateX( 0deg ) translateX(-50%) translateY(-30%) scale(0.75);
      -moz-transform: rotateX( 0deg ) translateX(-50%) translateY(-30%) scale(0.75);
      -o-transform: rotateX( 0deg ) translateX(-50%) translateY(-30%) scale(0.75);
      transform: rotateX( 0deg ) translateX(-50%) translateY(-30%) scale(0.75);
      z-index: 400;
      opacity: .8;
    }

    &.post {
      -webkit-transform: rotateX( 2.5deg ) translateX(-50%) translateY(-30%) scale(0.6);
      -moz-transform: rotateX( 2.5deg ) translateX(-50%) translateY(-30%) scale(0.6);
      -o-transform: rotateX( 2.5deg ) translateX(-50%) translateY(-30%) scale(0.6);
      transform: rotateX( .25deg ) translateX(-50%) translateY(-30%) scale(0.6);
      z-index: 400;
      opacity: 0;
    }

    &:hover {
      -webkit-transform: translateX(-50%) translateY(-25%) scale(1);
      -moz-transform: translateX(-50%) translateY(-25%) scale(1);
      -o-transform: translateX(-50%) translateY(-25%) scale(1);
      transform: translateX(-50%) translateY(-25%) scale(1);
      opacity: 1;
    }

    &.pre {
      &:hover {
        opacity: 0;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        transform: none;
      }
    }

    &.hide {
      -webkit-transform: translateX(-50%) translateY(50%);
      -moz-transform: translateX(-50%) translateY(50%);
      -o-transform: translateX(-50%) translateY(50%);
      transform: translateX(-50%) translateY(50%);
      opacity: 0;
    }

    &.selected {
      top: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
      -moz-transform: translateX(-50%) translateY(-50%) scale(1);
      -o-transform: translateX(-50%) translateY(-50%) scale(1);
      transform: translateX(-50%) translateY(-50%) scale(1);
      opacity: 1;
    }

  }

  &.stacked {
    .card {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: none;
    }
  }

  &.aero {
    .card {
      -webkit-transform: translate3d(-50%,-20%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
      -moz-transform: translate3d(-50%,-20%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
      -o-transform: translate3d(-50%,-20%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
      transform: translate3d(-50%,-20%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);

      &.pre {
        -webkit-transform: translate3d(-30%,-20%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
        -moz-transform: translate3d(-30%,-20%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
        -o-transform: translate3d(-30%,-20%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
        transform: translate3d(-30%,-20%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
        z-index: 450;
        opacity: 0;
      }


      &.base {
       -webkit-transform: translate3d(-35%,-22%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
       -moz-transform: translate3d(-35%,-22%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
       -o-transform: translate3d(-35%,-22%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
       transform: translate3d(-35%,-22%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
       z-index: 450;
       opacity: .8;
     }

     &.first {
       -webkit-transform: translate3d(-40%,-24%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
       -moz-transform: translate3d(-40%,-24%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
       -o-transform: translate3d(-40%,-24%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
       transform: translate3d(-40%,-24%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
       z-index: 440;
       opacity: .9;

     }

     &.second {
       -webkit-transform: translate3d(-45%,-26%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
       -moz-transform: translate3d(-45%,-26%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
       -o-transform: translate3d(-45%,-26%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
       transform: translate3d(-45%,-26%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
       z-index: 430;

     }

     &.third {
       -webkit-transform: translate3d(-50%,-28%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
       -moz-transform: translate3d(-50%,-28%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
       -o-transform: translate3d(-50%,-28%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
       transform: translate3d(-50%,-28%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
       z-index: 420;

     }

     &.fourth {
       -webkit-transform: translate3d(-55%,-30%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
       -moz-transform: translate3d(-55%,-30%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
       -o-transform: translate3d(-55%,-30%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
       transform: translate3d(-55%,-30%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
       z-index: 410;
       opacity: .9;
     }

     &.bottom {
      -webkit-transform: translate3d(-60%,-32%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
      -moz-transform: translate3d(-60%,-32%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
      -o-transform: translate3d(-60%,-32%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
      transform: translate3d(-60%,-32%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
      z-index: 400;
      opacity: .8;
    }

    &.post {
      -webkit-transform: translate3d(-65%,-34%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
      -moz-transform: translate3d(-65%,-34%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
      -o-transform: translate3d(-65%,-34%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
      transform: translate3d(-65%,-34%, 0) skew(0deg) rotateY(10deg) rotateX(-2.5deg) scale(0.8);
      z-index: 400;
      opacity: 0;
    }
  }
}
}
